---
extends: default

exclude_paths:
  - venv

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments: disable
  line-length: disable
  truthy: disable
